<form method="post" action="/new">
  <!-- <p>Team Name:  <input type="text" name="name"> </p> -->
  <h1>Enter your puppy's info:</h1>
  <p>Name: <input type="text", name="name"> </p>
  <p>Age: <input type="text", name="age"> </p>
  <p>Breed: <input type="text", name="breed"> </p>
  <br>
  <input type="submit" value="submit">
</form>
