<form method="post" action="/">
  Puppy Name:<input type="text" name="name">
  Puppy Breed:<input type="text" name="breed">
  Puppy Age:<input type="text" name="age">
  <input id="submit" type="submit">
</form>
