<html>
  <body>
    <form method="POST" action="/">
      <p>Puppy name: <input type="text" name="name" id="name"></p>
      <p>Puppy breed: <input type="text" name="breed" id="breed"></p>
      <p>Puppy age: <input type="text" name="age" id="age"></p>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
