<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>

    <form method="post" action="/create_puppy">
      <p>Enter puppy's name:</p>
      <textarea name="name"></textarea>
      <br>
      <p>Enter puppy's breed:</p>
      <textarea name="breed"></textarea>
      <br>
      <p>Enter puppy's age:</p>
      <textarea name="age"></textarea>
      <br>
      <button type="submit" value="submit">Submit</button>
    </form>

  </body>
</html>
