<form method="post" action"/display">
  <p>Name: </p>
  <input type="text" name="name"></input>
  <p>Breed: </p>
  <input type="text" name="breed"></input>
  <p>Age: </p>
  <input type="test" name="age"></input>
  <!-- <input type="submit"> -->
  <button type="submit">submit</button>

</form>
