<form method="POST" action="/">
  name<input type="text" id="name" name="name">
  breed<input type="text" id="breed" name="breed">
  age<input type="text" id="age" name="age">
  <input type="submit" value="submit">
</form>
