<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Puppy Adoption</title>
  </head>
  <body>
    <h1>Welcome to Puppy Adoption</h1>
     <a href="/display_puppy">Click Here To List A Puppy</a>
  </body>
</html>
